body {
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

.d-none {
  display: none;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 72px;
}
canvas {
  border: 5px solid blue;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}
span {
  display: block;
  margin-bottom: 20px;
}
